---
import Layout from "../../layouts/Layout.astro";
import Button from "../../components/ui/Button.astro";
import { products } from "../../data/services";
import Navbar from "../../components/ui/Navbar.astro";
import Footer from "../../components/Footer.astro";

export async function getStaticPaths() {
  return products.map((product) => ({
    params: { slug: product.slug },
  }));
}

const { slug } = Astro.params;
const product = products.find((p) => p.slug === slug);
---

<Layout title="WEALTHWISE - Услуги">
  <main class="pb-5">
    <Navbar style="background: var(--gradient-color);" active="services" />

    <div class="container mt-5">
      <div class="row">
        {
          product ? (
            <>
              <h4 class="fw-bold">{product.title}</h4>
              <div class="mt-3" set:html={product.description} />
            </>
          ) : (
            <h4 class="fw-bold">404 - Услуга не найдена</h4>
          )
        }

        <div style="max-width: 250px;" class="mt-3">
          <Button label="Свяжитесь с нами" variant="filled" href="/#contact" />
        </div>
      </div>
    </div>
  </main>
  <Footer />

  <style>
    main {
      /* background-image: url("/landing-dark.jpg"); */
      background: var(--secondary-color);
      /* background-size: cover; */
      /* background-position: center; */
      /* background-repeat: no-repeat; */
      color: var(--text-dark-color);
    }
  </style>
</Layout>
