---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Section from "../components/Section.astro";
import Section2 from "../components/Section2.astro";
---

<Layout title="Welcome to WealthWize!">
  <main>
    <Header />
    <Section />
    <Section2 />
  </main>
</Layout>

<style>
  main {
    /* background-color: #f2f3f7; */
  }
</style>
