---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Section from "../components/Section.astro";
import CardContainer from "../components/CardContainer.astro";
import Card from "../components/Card.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
import LogoWall from "../components/LogoWall.astro";
---

<Layout title="WEALTHWISE">
  <main>
    <section id="home">
      <Header />
    </section>

    <section id="about">
      <Section
        title="О нас"
        subtitle="WealthWise — ведущая бухгалтерская компания, работающая на рынке более 3 лет. Мы успешно обслуживаем более 80 клиентов и имеем более 350 решенных кейсов. Наша компания стремится к максимальной эффективности и качеству предоставляемых услуг, предлагая индивидуальный подход к каждому клиенту."
        secondSubtitle="В нашей команде 12 сотрудников — профессионалы своего дела, обладающие глубокими знаниями и значительным опытом в сфере бухгалтерского учета и финансового анализа."
        media="video1.mp4"
        mediaType="video"
      />
    </section>

    <Section
      style="margin-top: 200px;"
      type="reversed"
      title="Lorem ipsum"
      subtitle="Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusantium, vero ab eum laudantium eligendi quo, libero eveniet corporis perferendis dolore quod earum ipsam ipsum asperiores?"
      secondSubtitle="Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusantium, vero ab eum laudantium eligendi quo, libero eveniet corporis perferendis dolore quod earum ipsam ipsum asperiores?"
      media="video2.mp4"
      mediaType="video"
    />

    <section id="services">
      <CardContainer
        title="Услуги"
        style="margin-top: 200px; margin-bottom: 100px;"
      >
        <Card
          title="Обработка первичной документации"
          subtitle="Ввод данных о поступлениях, расходах и финансовых операциях."
          media="video3.mp4"
          mediaType="video"
          buttonLabel="Узнать больше"
        />

        <Card
          title="Учет финансовых операций"
          subtitle="Отражение всех финансовых операций в бухгалтерской системе компании, учет основных средств, амортизации и запасов."
          media="video4.mp4"
          mediaType="video"
          buttonLabel="Узнать больше"
        />

        <Card
          title="Подготовка и сдача бухгалтерской отчетности"
          subtitle="Квартальные и годовые отчеты, баланс, отчет о прибылях и убытках."
          media="video5.mp4"
          mediaType="video"
          buttonLabel="Узнать больше"
        />
      </CardContainer>
    </section>

    <LogoWall />

    <section id="contact">
      <Contact title="Contact Us" style="margin-top: 200px;" />
    </section>

    <Footer style="margin-top: 100px" />
  </main>
</Layout>

<style>
  main {
    /* background: #e1e3e5; */
    background: var(--secondary-color);
  }
</style>
