---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Section from "../components/Section.astro";
import CardContainer from "../components/CardContainer.astro";
import Card from "../components/Card.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
import LogoWall from "../components/LogoWall.astro";
---

<Layout title="WEALTHWISE">
  <main>
    <section id="home">
      <Header />
    </section>

    <section id="about">
      <Section
        title="О нас"
        subtitle="WealthWise — ведущая бухгалтерская компания, работающая на рынке более 3 лет. Мы успешно обслуживаем более 80 клиентов и имеем более 350 решенных кейсов. Наша компания стремится к максимальной эффективности и качеству предоставляемых услуг, предлагая индивидуальный подход к каждому клиенту."
        secondSubtitle="В нашей команде 12 сотрудников — профессионалы своего дела, обладающие глубокими знаниями и значительным опытом в сфере бухгалтерского учета и финансового анализа."
        media="video1.mp4"
        mediaType="video"
      />
    </section>

    <!-- <Section
      style="margin-top: 200px;"
      type="reversed"
      title="Lorem ipsum"
      subtitle="Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusantium, vero ab eum laudantium eligendi quo, libero eveniet corporis perferendis dolore quod earum ipsam ipsum asperiores?"
      secondSubtitle="Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusantium, vero ab eum laudantium eligendi quo, libero eveniet corporis perferendis dolore quod earum ipsam ipsum asperiores?"
      media="video2.mp4"
      mediaType="video"
    /> -->

    <section id="services">
      <CardContainer
        title="Услуги"
        style="margin-top: 200px; margin-bottom: 100px;"
      >
        <Card
          title="Бухгалтерский учет Аутсорс"
          subtitle="WealthWise предлагает комплексные бухгалтерские услуги на аутсорсинг, которые помогут вашему бизнесу оптимизировать финансовые процессы и снизить налоговые риски."
          media="video3.mp4"
          mediaType="video"
          buttonLabel="Узнать больше"
          buttonHref="/services/1"
        />

        <Card
          title="Управленчиский учет"
          subtitle="WealthWise предлагает услугу управленческого учета, обеспечивая руководство компании актуальной финансовой аналитикой для принятия обоснованных стратегических решений."
          media="video4.mp4"
          mediaType="video"
          buttonLabel="Узнать больше"
          buttonHref="/services/2"
        />

        <Card
          title="Кадровый учет"
          subtitle="WealthWise предоставляет услуги по ведению кадрового учета и точному расчету заработной платы, включая все необходимые налоговые отчисления и взаимодействие с государственными органами."
          media="video5.mp4"
          mediaType="video"
          buttonLabel="Узнать больше"
          buttonHref="/services/3"
        />

        <Card
          title="Финансовый аудит"
          subtitle="это комплексная проверка финансовой деятельности компании, целью которой является подтверждение достоверности финансовой отчетности и соответствие операций требованиям законодательства и внутренним стандартам компании."
          media="video5.mp4"
          mediaType="video"
          buttonLabel="Узнать больше"
          buttonHref="/services/4"
        />

        <Card
          title="Восстановление бухгалтерского учета"
          subtitle="это услуга по восстановлению корректного учета финансовых операций компании за определенный период, когда учетные данные были утрачены, искажены или велись с ошибками."
          media="video5.mp4"
          mediaType="video"
          buttonLabel="Узнать больше"
          buttonHref="/services/5"
        />

        <Card
          title="Налоговое консультирование и правовые услуги"
          subtitle="Оптимизация налоговых платежей и подготовка отчетности с учетом последних изменений в законодательстве."
          media="video5.mp4"
          mediaType="video"
          buttonLabel="Узнать больше"
          buttonHref="/services/6"
        />
      </CardContainer>
    </section>

    <LogoWall />

    <section id="contact">
      <Contact title="Свяжитесь с нами" style="margin-top: 200px;" />
    </section>

    <Footer style="margin-top: 100px" />
  </main>
</Layout>

<style>
  main {
    /* background: #e1e3e5; */
    background: var(--secondary-color);
  }
</style>
