---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/ui/Navbar.astro";
import Button from "../components/ui/Button.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="WEALTHWISE - Тарифы">
  <main>
    <Navbar active="pricing" />

    <div class="container py-5">
      <div class="mb-4" data-aos="fade-down">
        <p class="title">Бухгалтерские услуги Аутсорс</p>
        <p class="subtitle">Выберите подходящий для вас тариф</p>
      </div>

      <div class="row text-center">
        <div class="col-lg-4 d-flex" data-aos="fade-right">
          <div class="card mb-4 flex-grow-1">
            <div class="card-header">
              <h3 class="my-0 fw-normal">Silver</h3>
            </div>
            <div class="card-body d-flex flex-column">
              <h4 class="card-title">3 200 000 сум / месяц</h4>
              <ul class="list-unstyled mt-3 mb-4">
                <li>До 4 сотрудников.</li>
                <li>До 20 операций в месяц.</li>
                <li>Упрощенная Система налогооблажения.</li>
              </ul>
              <div
                class="w-100 d-flex justify-content-center align-items-center"
              >
                <div style="max-width: 250px;">
                  <Button
                    label="Связаться с нами"
                    variant="outline"
                    href="/#contact"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 d-flex" data-aos="fade-up">
          <div class="card mb-4 flex-grow-1">
            <div class="card-header">
              <h3 class="my-0 fw-normal">Gold</h3>
            </div>
            <div class="card-body d-flex flex-column">
              <h4 class="card-title">5 800 000 сум / месяц</h4>
              <ul class="list-unstyled mt-3 mb-4">
                <li>До 10 сотрудников.</li>
                <li>До 40 операций в месяц.</li>
                <li>Общеустановленная система налогооблажения.</li>
              </ul>
              <div
                class="w-100 d-flex justify-content-center align-items-center"
              >
                <div style="max-width: 250px;">
                  <Button
                    label="Связаться с нами"
                    variant="filled"
                    href="/#contact"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 d-flex">
          <div class="card mb-4 flex-grow-1" data-aos="fade-left">
            <div class="card-header">
              <h3 class="my-0 fw-normal">Platinum</h3>
            </div>
            <div class="card-body d-flex flex-column">
              <h4 class="card-title">6 800 000 сум / месяц</h4>
              <ul class="list-unstyled mt-3 mb-4">
                <li>До 20 сотрудников.</li>
                <li>До 100 операций в месяц.</li>
                <li>Общеустановленная система налогооблажения.</li>
              </ul>
              <div
                class="w-100 d-flex justify-content-center align-items-center"
              >
                <div style="max-width: 250px;">
                  <Button
                    label="Связаться с нами"
                    variant="outline"
                    href="/#contact"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  <Footer />
</Layout>

<style>
  .card-title {
    font-weight: 700;
  }

  .card,
  .card-header {
    border-radius: 30px;
    border-color: var(--text-dark-color);
    background-color: var(--secondary-color);
    color: var(--text-dark-color);
  }

  .card-header {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding: 16px 0;
    font-weight: 700;
  }

  .card-body {
    padding: 16px;
  }

  main {
    min-height: 100vh;
    background: var(--gradient-color);
  }

  .title {
    font-size: 46px;
    line-height: 52px;
    font-weight: 500;
    color: var(--text-light-color);
  }

  .subtitle {
    font-size: 28px;
    line-height: 32px;
    font-weight: 400;
    color: var(--text-light-color);
  }

  .col-lg-4 {
    display: flex;
  }

  .card {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  .card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  ul li {
    margin-bottom: 12px;
  }

  ul li:last-child {
    margin-bottom: 0;
  }
</style>
