---
import Button from "../components/ui/Button.astro";
---

<main>
  <div class="container">
    <div class="row text-center">
      <p class="title">Our Services</p>
    </div>

    <div class="row mt-5">
      <div class="col-12 col-lg-4">
        <div class="card text-white p-2" style="">
          <div class="p-3 img-wrapper">
            <video width="100%" autoplay muted loop>
              <source src="video5.mp4" type="video/mp4" />
              Your browser does not support the video tag.
            </video>
          </div>
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <Button label="Learn more" variant="filled" />
          </div>
        </div>
      </div>

      <div class="col-12 col-lg-4 mt-4 mt-lg-0">
        <div class="card text-white p-2" style="">
          <div class="p-3 img-wrapper">
            <video width="100%" autoplay muted loop>
              <source src="video3.mp4" type="video/mp4" />
              Your browser does not support the video tag.
            </video>
          </div>
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <Button label="Learn more" variant="filled" />
          </div>
        </div>
      </div>

      <div class="col-12 col-lg-4 mt-4 mt-lg-0">
        <div class="card text-white p-2" style="">
          <div class="p-3 img-wrapper">
            <video width="100%" autoplay muted loop>
              <source src="video4.mp4" type="video/mp4" />
              Your browser does not support the video tag.
            </video>
          </div>
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <Button label="Learn more" variant="filled" />
          </div>
        </div>
      </div>
    </div>
  </div>

  <style>
    main {
      margin-top: 200px;
    }

    .card {
      background: #25a3c0;
      border: none;
      border-radius: 20px;
      transition: all 0.3s;
    }

    .img-wrapper video {
      border-radius: 10px;
      /* border: 1px solid var(--secondary-color); */
    }

    .title {
      font-size: 42px;
      line-height: 48px;
      font-weight: 600;
      color: var(--button-text-color);
    }
  </style>
</main>
