---
import Button from "./ui/Button.astro";

interface Props {
  title: string;
  style?: string;
}

const { title, style } = Astro.props;
---

<main style={style}>
  <div class="container">
    <div class="row title justify-content-center">{title}</div>

    <div class="row mt-5 justify-content-between">
      <form class="col-lg-5 col-12" id="myForm">
        <div class="mb-5 gr">
          <!-- <label for="name" class="form-label">Name</label>
            <input
              type="text"
              class="form-control"
              id="name"
              placeholder="John Doe"
            /> -->

          <input type="text" required id="name" />
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>Имя</label>
        </div>
        <div class="mb-5 gr">
          <!-- <label for="email" class="form-label">Email address</label>
            <input
              type="email"
              class="form-control"
              id="email"
              placeholder="johndoe@example.com"
            /> -->

          <input type="text" required id="email" />
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>Электронная почта</label>
        </div>

        <div class="mb-5 gr">
          <!-- <label for="tel" class="form-label">Phone number</label>
            <input type="tel" class="form-control" id="tel" value="+998" /> -->

          <input type="text" required id="tel" />
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>Номер телефона</label>
        </div>
        <div class="mb-5 gr">
          <!-- <label for="message" class="form-label">Message</label>
            <textarea class="form-control" id="message" rows="5"></textarea> -->

          <input type="text" required id="message" />
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>Сообщение</label>
        </div>

        <button type="submit" class="btn button-filled">Отправить</button>
      </form>

      <div
        class="col-6 d-lg-flex d-none border justify-content-center align-items-center"
      >
        <span>Rasm</span>
      </div>
    </div>
  </div>
</main>

<script lang="js">
  document.getElementById("myForm").addEventListener("submit", function (e) {
    e.preventDefault();

    const name = document.getElementById("name").value;
    const email = document.getElementById("email").value;
    const tel = document.getElementById("tel").value;
    const message = document.getElementById("message").value;

    // Send form data to the Node.js backend
    fetch("https://13.232.66.126/submit-form", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({ name, email, tel, message }),
    })
      .then((response) => response.text())
      .then((data) => {
        alert("Сообщение успешно отправлено");
      })
      .catch((error) => {
        console.error("Error:", error);
        alert("Что-то пошло не так");
      });
  });
</script>

<style>
  .button-filled {
    padding: 0 31px;
    font-size: 17px;
    line-height: 64px;
    font-weight: 500;
    color: var(--text-light-color);
    background: var(--gradient-color);
    border: none;
    border-radius: 9999px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .title {
    font-size: 42px;
    line-height: 48px;
    font-weight: 600;
    color: var(--text-dark-color);
  }

  .row.mt-5 {
    background: white;
    padding: 100px;
    border-radius: 3rem;
    border: 1px solid var(--primary-color);
  }

  @media only screen and (max-width: 767px) {
    .row.mt-5 {
      padding: 50px;
    }
  }

  @media only screen and (max-width: 575px) {
    .row.mt-5 {
      padding: 25px;
      border-radius: 0;
    }
  }

  .gr {
    position: relative;
  }

  input {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--primary-color);
    background-color: transparent;
    color: var(--text-dark-color);
  }
  input:focus {
    outline: none;
  }

  label {
    color: var(--text-dark-color);
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
  }

  input:focus ~ label,
  input:valid ~ label {
    top: -20px;
    font-size: 14px;
    color: var(--text-dark-color);
  }

  .bar {
    position: relative;
    display: block;
    width: 100%;
  }
  .bar:before,
  .bar:after {
    content: "";
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: var(--primary-color);
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
  }
  .bar:before {
    left: 50%;
  }
  .bar:after {
    right: 50%;
  }

  input:focus ~ .bar:before,
  input:focus ~ .bar:after {
    width: 50%;
  }

  .highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
  }

  input:focus ~ .highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
  }

  @-webkit-keyframes inputHighlighter {
    from {
      background: var(--primary-color);
    }
    to {
      width: 0;
      background: transparent;
    }
  }
  @-moz-keyframes inputHighlighter {
    from {
      background: var(--primary-color);
    }
    to {
      width: 0;
      background: transparent;
    }
  }
  @keyframes inputHighlighter {
    from {
      background: var(--primary-color);
    }
    to {
      width: 0;
      background: transparent;
    }
  }
</style>
