---
import Button from "../components/ui/Button.astro";
import Navbar from "../components/ui/Navbar.astro";
---

<main class="d-flex flex-column">
  <Navbar active="home" />

  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-12">
        <p class="title" data-aos="fade-down">
          Бухгалтерское решение для управления финансами
        </p>
        <p class="subtitle" data-aos="fade-right">
          WealthWise гарантия точности для вашего роста
        </p>

        <div
          data-aos="fade-up"
          class="d-flex flex-lg-row flex-column gap-3 align-items-lg-center align-items-start mt-4"
        >
          <Button label="Посмотреть услуги" href="#services" />
          <Button
            label="Нужна помощь?"
            variant="outlineWhite"
            href="#contact"
          />
        </div>
      </div>
    </div>
  </div>
</main>

<script>
  import AOS from "aos";
  AOS.init({ duration: 1500 });
</script>

<style>
  main {
    height: 700px;
    /* background-image: url("/landing-dark.jpg"); */
    background: var(--gradient-color);
    /* background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
  }

  .title {
    font-size: 46px;
    line-height: 52px;
    font-weight: 500;
    color: var(--text-light-color);
  }

  .subtitle {
    font-size: 28px;
    line-height: 32px;
    font-weight: 400;
    color: var(--text-light-color);
  }

  .row {
    height: calc(595.33px - 104.67px);
    flex-direction: column;
    justify-content: center;
  }

  @media only screen and (max-width: 991px) {
    .row {
      height: calc(564px - 36px);
    }
  }
</style>
