---
import Button from "./ui/Button.astro";

interface SectionProps {
  title: string;
  subtitle: string;
  secondSubtitle?: string;
  media: string;
  type: string;
}
---

<main id="#about">
  <div class="container text-white">
    <div
      class="row justify-content-between flex-lg-row-reverse flex-column-reverse"
    >
      <div class="col-lg-5 col-12 mt-lg-0 mt-5">
        <p class="title">About Us</p>
        <p class="subtitle">
          At WealthWize, we provide tailored accounting solutions that
          streamline financial management for businesses of all sizes. Our
          experienced team is dedicated to helping you navigate financial
          reporting, tax compliance, and strategic planning.
        </p>
        <p class="subtitle">
          We empower our clients with accurate insights and efficient systems,
          allowing them to focus on growing their business. Whether you're a
          startup or an established company, WealthWize is here to support your
          financial goals and ensure your success.
        </p>

        <div class="mt-4">
          <Button label="Contact with us" variant="filled" />
        </div>
      </div>

      <div
        class="col-lg-6 col-12 d-flex justify-content-center align-items-center vid"
      >
        <video width="100%" autoplay muted loop>
          <source src="video2.mp4" type="video/mp4" />
          Your browser does not support the video tag.
        </video>
      </div>
    </div>
  </div>
</main>

<style>
  .container {
    background-color: #4eb4d1;
    border-radius: 30px;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 100px;
  }

  .title {
    font-size: 42px;
    line-height: 48px;
    font-weight: 500;
  }

  .subtitle {
    font-size: 17px;
    line-height: 24px;
    font-weight: 400;
  }

  /* .vid {
    background-color: #75b3ce;
    border-radius: 15px;
  } */

  @media only screen and (max-width: 767px) {
    .container {
      margin-top: 50px;
      margin-bottom: 50px;
      padding: 50px;
      border-radius: 20px;
    }
  }

  @media only screen and (max-width: 575px) {
    .container {
      margin-top: 0;
      margin-bottom: 0;
      padding: 25px;
      border-radius: 0;
    }
  }
</style>
