---
interface Props {
  title: string;
}

const { title } = Astro.props;

import "bootstrap/dist/css/bootstrap.min.css";
import "../assets/base.css";
import "aos/dist/aos.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <meta
      property="og:title"
      content="бухгалтерский аудит, бухгалтерские услуги для ип, бухгалтерские услуги, услуги бухгалтерского учета, финансовый аудит, финансовый учет, аутсорсинг бухгалтерских услуг, компании бухгалтерские услуги, бухгалтерские услуги для холдингов, правовые услуги Ташкент, Ведение учета для малого бизнеса, финансовый аудит Узбекистан, налоговое консультирование Ташкент, бухгалтерские услуги для консалтинговых компаний, налоговое консультирование, бухгалтерские услуги для розничной торговли, бухгалтерские услуги для ассоциаций, восстановление бухгалтерского учёта, компании бухгалтерские услуги, бухгалтерские услуги для иностранных компаний, аутсорс бухгалтерских услуг, бухгалтерские услуги для туристических компаний, кадровый учет Узбекистан, бухгалтерские услуги для логистических компаний, кадровый учет Ташкент, бухгалтерия для бизнеса Узбекистан, бухгалтерский аутсорсинг, бухгалтерские услуги для малого бизнеса, Бухгалтерия для ООО, бухгалтерские услуги для товариществ, бухгалтерские услуги для стартапов Ташкент, услуги бухгалтерского учета, бухгалтерские услуги для транспортных компаний, учет бухгалтерский, бухгалтерские услуги для стартапов, бухгалтерская компания Ташкент, финансовый аудит Ташкент, бухгалтерские услуги для малого бизнеса Ташкент, бухгалтерские услуги для ИП Узбекистан, бухгалтерские услуги для интернет-магазинов, бухгалтерские услуги для консорциумов, бухгалтерские услуги для компаний Узбекистан, бухгалтерские решения Узбекистан, бухгалтерия для бизнеса Ташкент, бухгалтерские услуги восстановление, Бухгалтерские услуги для ИП, бухгалтерские услуги для корпораций, Аутсорсинг финансового учета, ведение налоговой отчетности, аудит и бухгалтерский учет, финансовый аудит, услуги бухгалтера, бухгалтерского учёта, аутсорсинг бухгалтерии, аутсорсинг бухучета, Сопровождение бухгалтерии, Аутсорсинг бухучета, бухгалтерские услуги для самозанятых, бухгалтерские услуги Узбекистан, бухгалтерские услуги для среднего бизнеса Ташкент, бухгалтерские услуги для стартапов Узбекистан, бухгалтерские услуги для компаний, бухгалтерские услуги для фирм, бухгалтерский аутсорсинг Узбекистан, бухгалтерские услуги для международных компаний, консультация бухгалтера, бухгалтер аутсорсинг, бухгалтерия услуги, бухгалтерские услуги для малого бизнеса Узбекистан, Бухгалтерские услуги онлайн, правовые услуги Узбекистан, бухгалтерские услуги для инвестиционных компаний, бухгалтерские услуги для архитектурных бюро, Аутсорсинг налогового учета, бухгалтерские услуги для индивидуальных предпринимателей, услуги бухгалтера Ташкент, бухгалтерский услуга, бухгалтерская компания Узбекистан, бухгалтерские услуги для рекламных агентств, бухгалтерские услуги для e-commerce, бухгалтерские услуги для представительств, бухгалтерские услуги для торговых компаний, бухгалтерские услуги для союзов, бухгалтерия аутсорсинг, услуги бухгалтерии, Аутсорсинг учета налогов, бухгалтерские услуги для обществ, бухгалтерские услуги для ИП Ташкент, бухгалтерские услуги для иностранных компаний Ташкент, бухгалтерская компания, Ведение бухгалтерии на аутсорсе, Услуги бухгалтера для e-commerce, бухгалтерские услуги для дизайнерских студий, бухгалтерские услуги для учреждений, учет и аудит бухгалтерский, аутсорс, бухгалтерские услуги Ташкент, услуги кадрового учета, финансовый бухгалтерский учет, финансовый и бухгалтерский учет, бухгалтерский учет Узбекистан, восстановление бухгалтерского учета, бухгалтерские услуги организациям, бухгалтерские услуги для компаний Ташкент, бухгалтерские услуги для среднего бизнеса Узбекистан, бухгалтерские услуги для юридических фирм, бухгалтерские услуги для бизнеса, восстановление бухгалтерского учёта, бухгалтерские услуги для предприятий, управленческий учет Ташкент, бухгалтерские услуги для фрилансеров, бухгалтерские услуги для страховых компаний, аутсорсинг бухгалтерии Узбекистан, восстановление бухгалтерского учета, бухгалтерские услуги для медицинских учреждений, бухгалтерские услуги для государственных предприятий, бухгалтерские услуги для среднего бизнеса, бухгалтерские"
    />
    <meta property="og:image" content="https://wealthwise.uz/favicon.png" />
    <meta
      property="og:description"
      content="бухгалтерский аудит, бухгалтерские услуги для ип, бухгалтерские услуги, услуги бухгалтерского учета, финансовый аудит, финансовый учет, аутсорсинг бухгалтерских услуг, компании бухгалтерские услуги, бухгалтерские услуги для холдингов, правовые услуги Ташкент, Ведение учета для малого бизнеса, финансовый аудит Узбекистан, налоговое консультирование Ташкент, бухгалтерские услуги для консалтинговых компаний, налоговое консультирование, бухгалтерские услуги для розничной торговли, бухгалтерские услуги для ассоциаций, восстановление бухгалтерского учёта, компании бухгалтерские услуги, бухгалтерские услуги для иностранных компаний, аутсорс бухгалтерских услуг, бухгалтерские услуги для туристических компаний, кадровый учет Узбекистан, бухгалтерские услуги для логистических компаний, кадровый учет Ташкент, бухгалтерия для бизнеса Узбекистан, бухгалтерский аутсорсинг, бухгалтерские услуги для малого бизнеса, Бухгалтерия для ООО, бухгалтерские услуги для товариществ, бухгалтерские услуги для стартапов Ташкент, услуги бухгалтерского учета, бухгалтерские услуги для транспортных компаний, учет бухгалтерский, бухгалтерские услуги для стартапов, бухгалтерская компания Ташкент, финансовый аудит Ташкент, бухгалтерские услуги для малого бизнеса Ташкент, бухгалтерские услуги для ИП Узбекистан, бухгалтерские услуги для интернет-магазинов, бухгалтерские услуги для консорциумов, бухгалтерские услуги для компаний Узбекистан, бухгалтерские решения Узбекистан, бухгалтерия для бизнеса Ташкент, бухгалтерские услуги восстановление, Бухгалтерские услуги для ИП, бухгалтерские услуги для корпораций, Аутсорсинг финансового учета, ведение налоговой отчетности, аудит и бухгалтерский учет, финансовый аудит, услуги бухгалтера, бухгалтерского учёта, аутсорсинг бухгалтерии, аутсорсинг бухучета, Сопровождение бухгалтерии, Аутсорсинг бухучета, бухгалтерские услуги для самозанятых, бухгалтерские услуги Узбекистан, бухгалтерские услуги для среднего бизнеса Ташкент, бухгалтерские услуги для стартапов Узбекистан, бухгалтерские услуги для компаний, бухгалтерские услуги для фирм, бухгалтерский аутсорсинг Узбекистан, бухгалтерские услуги для международных компаний, консультация бухгалтера, бухгалтер аутсорсинг, бухгалтерия услуги, бухгалтерские услуги для малого бизнеса Узбекистан, Бухгалтерские услуги онлайн, правовые услуги Узбекистан, бухгалтерские услуги для инвестиционных компаний, бухгалтерские услуги для архитектурных бюро, Аутсорсинг налогового учета, бухгалтерские услуги для индивидуальных предпринимателей, услуги бухгалтера Ташкент, бухгалтерский услуга, бухгалтерская компания Узбекистан, бухгалтерские услуги для рекламных агентств, бухгалтерские услуги для e-commerce, бухгалтерские услуги для представительств, бухгалтерские услуги для торговых компаний, бухгалтерские услуги для союзов, бухгалтерия аутсорсинг, услуги бухгалтерии, Аутсорсинг учета налогов, бухгалтерские услуги для обществ, бухгалтерские услуги для ИП Ташкент, бухгалтерские услуги для иностранных компаний Ташкент, бухгалтерская компания, Ведение бухгалтерии на аутсорсе, Услуги бухгалтера для e-commerce, бухгалтерские услуги для дизайнерских студий, бухгалтерские услуги для учреждений, учет и аудит бухгалтерский, аутсорс, бухгалтерские услуги Ташкент, услуги кадрового учета, финансовый бухгалтерский учет, финансовый и бухгалтерский учет, бухгалтерский учет Узбекистан, восстановление бухгалтерского учета, бухгалтерские услуги организациям, бухгалтерские услуги для компаний Ташкент, бухгалтерские услуги для среднего бизнеса Узбекистан, бухгалтерские услуги для юридических фирм, бухгалтерские услуги для бизнеса, восстановление бухгалтерского учёта, бухгалтерские услуги для предприятий, управленческий учет Ташкент, бухгалтерские услуги для фрилансеров, бухгалтерские услуги для страховых компаний, аутсорсинг бухгалтерии Узбекистан, восстановление бухгалтерского учета, бухгалтерские услуги для медицинских учреждений, бухгалтерские услуги для государственных предприятий, бухгалтерские услуги для среднего бизнеса, бухгалтерские"
    />

    <link rel="icon" href="/favicon.png" />

    <meta name="geo.region" content="UZ-TASHKENT" />
    <meta name="geo.placename" content="Tashkent" />
    <meta name="geo.position" content="41.311081;69.240562" />

    <meta
      name="description"
      content="Бухгалтерское решение для управления финансами. WealthWise гарантия точности для вашего роста"
    />
    <meta
      name="keywords"
      content="бухгалтерский аудит, бухгалтерские услуги для ип, бухгалтерские услуги, услуги бухгалтерского учета, финансовый аудит, финансовый учет, аутсорсинг бухгалтерских услуг, компании бухгалтерские услуги, бухгалтерские услуги для холдингов, правовые услуги Ташкент, Ведение учета для малого бизнеса, финансовый аудит Узбекистан, налоговое консультирование Ташкент, бухгалтерские услуги для консалтинговых компаний, налоговое консультирование, бухгалтерские услуги для розничной торговли, бухгалтерские услуги для ассоциаций, восстановление бухгалтерского учёта, компании бухгалтерские услуги, бухгалтерские услуги для иностранных компаний, аутсорс бухгалтерских услуг, бухгалтерские услуги для туристических компаний, кадровый учет Узбекистан, бухгалтерские услуги для логистических компаний, кадровый учет Ташкент, бухгалтерия для бизнеса Узбекистан, бухгалтерский аутсорсинг, бухгалтерские услуги для малого бизнеса, Бухгалтерия для ООО, бухгалтерские услуги для товариществ, бухгалтерские услуги для стартапов Ташкент, услуги бухгалтерского учета, бухгалтерские услуги для транспортных компаний, учет бухгалтерский, бухгалтерские услуги для стартапов, бухгалтерская компания Ташкент, финансовый аудит Ташкент, бухгалтерские услуги для малого бизнеса Ташкент, бухгалтерские услуги для ИП Узбекистан, бухгалтерские услуги для интернет-магазинов, бухгалтерские услуги для консорциумов, бухгалтерские услуги для компаний Узбекистан, бухгалтерские решения Узбекистан, бухгалтерия для бизнеса Ташкент, бухгалтерские услуги восстановление, Бухгалтерские услуги для ИП, бухгалтерские услуги для корпораций, Аутсорсинг финансового учета, ведение налоговой отчетности, аудит и бухгалтерский учет, финансовый аудит, услуги бухгалтера, бухгалтерского учёта, аутсорсинг бухгалтерии, аутсорсинг бухучета, Сопровождение бухгалтерии, Аутсорсинг бухучета, бухгалтерские услуги для самозанятых, бухгалтерские услуги Узбекистан, бухгалтерские услуги для среднего бизнеса Ташкент, бухгалтерские услуги для стартапов Узбекистан, бухгалтерские услуги для компаний, бухгалтерские услуги для фирм, бухгалтерский аутсорсинг Узбекистан, бухгалтерские услуги для международных компаний, консультация бухгалтера, бухгалтер аутсорсинг, бухгалтерия услуги, бухгалтерские услуги для малого бизнеса Узбекистан, Бухгалтерские услуги онлайн, правовые услуги Узбекистан, бухгалтерские услуги для инвестиционных компаний, бухгалтерские услуги для архитектурных бюро, Аутсорсинг налогового учета, бухгалтерские услуги для индивидуальных предпринимателей, услуги бухгалтера Ташкент, бухгалтерский услуга, бухгалтерская компания Узбекистан, бухгалтерские услуги для рекламных агентств, бухгалтерские услуги для e-commerce, бухгалтерские услуги для представительств, бухгалтерские услуги для торговых компаний, бухгалтерские услуги для союзов, бухгалтерия аутсорсинг, услуги бухгалтерии, Аутсорсинг учета налогов, бухгалтерские услуги для обществ, бухгалтерские услуги для ИП Ташкент, бухгалтерские услуги для иностранных компаний Ташкент, бухгалтерская компания, Ведение бухгалтерии на аутсорсе, Услуги бухгалтера для e-commerce, бухгалтерские услуги для дизайнерских студий, бухгалтерские услуги для учреждений, учет и аудит бухгалтерский, аутсорс, бухгалтерские услуги Ташкент, услуги кадрового учета, финансовый бухгалтерский учет, финансовый и бухгалтерский учет, бухгалтерский учет Узбекистан, восстановление бухгалтерского учета, бухгалтерские услуги организациям, бухгалтерские услуги для компаний Ташкент, бухгалтерские услуги для среднего бизнеса Узбекистан, бухгалтерские услуги для юридических фирм, бухгалтерские услуги для бизнеса, восстановление бухгалтерского учёта, бухгалтерские услуги для предприятий, управленческий учет Ташкент, бухгалтерские услуги для фрилансеров, бухгалтерские услуги для страховых компаний, аутсорсинг бухгалтерии Узбекистан, восстановление бухгалтерского учета, бухгалтерские услуги для медицинских учреждений, бухгалтерские услуги для государственных предприятий, бухгалтерские услуги для среднего бизнеса, бухгалтерские"
    />

    <meta name="generator" content={Astro.generator} />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />

    <title>{title}</title>

    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=AW-16795970317"></script>
    <script lang="js">
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "AW-16795970317");
    </script>
  </head>
  <body>
    <!-- contenteditable="true" -->

    <slot />

    <script>
      import "bootstrap/dist/js/bootstrap";
    </script>

    <script>
      import AOS from "aos";
      AOS.init({ duration: 1500 });
    </script>
  </body>
</html>
<style is:global>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
  }

  html,
  body {
    overflow-x: hidden;
  }
</style>
