---
interface Props {
  title: string;
}

const { title } = Astro.props;

import "bootstrap/dist/css/bootstrap.min.css";
import "../assets/base.css";
import "aos/dist/aos.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <meta
      property="og:title"
      content="WEALTHWISE - Бухгалтерское решение для управления финансами"
    />
    <meta property="og:image" content="https://wealthwise.uz/favicon.ico" />
    <meta
      property="og:description"
      content="WealthWise гарантия точности для вашего роста"
    />

    <link rel="icon" href="/favicon.ico" type="image/x-icon" sizes="any" />

    <meta name="geo.region" content="UZ-TK" />
    <meta name="geo.placename" content="Tashkent" />
    <meta name="geo.position" content="41.2995;69.2401" />
    <meta name="ICBM" content="41.2995, 69.2401" />

    <meta
      name="description"
      content="Бухгалтерское решение для управления финансами. WealthWise гарантия точности для вашего роста"
    />
    <meta
      name="keywords"
      content="бухгалтерский аудит, бухгалтерские услуги для ип, бухгалтерские услуги, услуги бухгалтерского учета, финансовый аудит, финансовый учет, аутсорсинг бухгалтерских услуг, компании бухгалтерские услуги, бухгалтерские услуги для холдингов, правовые услуги Ташкент, Ведение учета для малого бизнеса, финансовый аудит Узбекистан, налоговое консультирование Ташкент, бухгалтерские услуги для консалтинговых компаний, налоговое консультирование, бухгалтерские услуги для розничной торговли, бухгалтерские услуги для ассоциаций, восстановление бухгалтерского учёта, компании бухгалтерские услуги, бухгалтерские услуги для иностранных компаний, аутсорс бухгалтерских услуг, бухгалтерские услуги для туристических компаний, кадровый учет Узбекистан, бухгалтерские услуги для логистических компаний, кадровый учет Ташкент, бухгалтерия для бизнеса Узбекистан, бухгалтерский аутсорсинг, бухгалтерские услуги для малого бизнеса, Бухгалтерия для ООО, бухгалтерские услуги для товариществ, бухгалтерские услуги для стартапов Ташкент, услуги бухгалтерского учета, бухгалтерские услуги для транспортных компаний, учет бухгалтерский, бухгалтерские услуги для стартапов, бухгалтерская компания Ташкент, финансовый аудит Ташкент, бухгалтерские услуги для малого бизнеса Ташкент, бухгалтерские услуги для ИП Узбекистан, бухгалтерские услуги для интернет-магазинов, бухгалтерские услуги для консорциумов, бухгалтерские услуги для компаний Узбекистан, бухгалтерские решения Узбекистан, бухгалтерия для бизнеса Ташкент, бухгалтерские услуги восстановление, Бухгалтерские услуги для ИП, бухгалтерские услуги для корпораций, Аутсорсинг финансового учета, ведение налоговой отчетности, аудит и бухгалтерский учет, финансовый аудит, услуги бухгалтера, бухгалтерского учёта, аутсорсинг бухгалтерии, аутсорсинг бухучета, Сопровождение бухгалтерии, Аутсорсинг бухучета, бухгалтерские услуги для самозанятых, бухгалтерские услуги Узбекистан, бухгалтерские услуги для среднего бизнеса Ташкент, бухгалтерские услуги для стартапов Узбекистан, бухгалтерские услуги для компаний, бухгалтерские услуги для фирм, бухгалтерский аутсорсинг Узбекистан, бухгалтерские услуги для международных компаний, консультация бухгалтера, бухгалтер аутсорсинг, бухгалтерия услуги, бухгалтерские услуги для малого бизнеса Узбекистан, Бухгалтерские услуги онлайн, правовые услуги Узбекистан, бухгалтерские услуги для инвестиционных компаний, бухгалтерские услуги для архитектурных бюро, Аутсорсинг налогового учета, бухгалтерские услуги для индивидуальных предпринимателей, услуги бухгалтера Ташкент, бухгалтерский услуга, бухгалтерская компания Узбекистан, бухгалтерские услуги для рекламных агентств, бухгалтерские услуги для e-commerce, бухгалтерские услуги для представительств, бухгалтерские услуги для торговых компаний, бухгалтерские услуги для союзов, бухгалтерия аутсорсинг, услуги бухгалтерии, Аутсорсинг учета налогов, бухгалтерские услуги для обществ, бухгалтерские услуги для ИП Ташкент, бухгалтерские услуги для иностранных компаний Ташкент, бухгалтерская компания, Ведение бухгалтерии на аутсорсе, Услуги бухгалтера для e-commerce, бухгалтерские услуги для дизайнерских студий, бухгалтерские услуги для учреждений, учет и аудит бухгалтерский, аутсорс, бухгалтерские услуги Ташкент, услуги кадрового учета, финансовый бухгалтерский учет, финансовый и бухгалтерский учет, бухгалтерский учет Узбекистан, восстановление бухгалтерского учета, бухгалтерские услуги организациям, бухгалтерские услуги для компаний Ташкент, бухгалтерские услуги для среднего бизнеса Узбекистан, бухгалтерские услуги для юридических фирм, бухгалтерские услуги для бизнеса, восстановление бухгалтерского учёта, бухгалтерские услуги для предприятий, управленческий учет Ташкент, бухгалтерские услуги для фрилансеров, бухгалтерские услуги для страховых компаний, аутсорсинг бухгалтерии Узбекистан, восстановление бухгалтерского учета, бухгалтерские услуги для медицинских учреждений, бухгалтерские услуги для государственных предприятий, бухгалтерские услуги для среднего бизнеса, бухгалтерские, услуги для партнерств, услуги по восстановлению бухгалтерского учета, аутсорсинг налогового учета, кадровый учет, Онлайн бухгалтерия для бизнеса, бухгалтерские услуги для гостиниц, бухгалтерские услуги для крупных предприятий Ташкент, бухгалтерские услуги для кампаний, бухгалтерская компания, бухгалтерские услуги для строительных компаний, бухгалтерские услуги для фондов, бухгалтерские услуги для иностранных компаний Узбекистан, Ведение налоговой отчетности, бухгалтерский аутсорс, бухгалтерские услуги для некоммерческих организаций, бухгалтерские услуги для бизнесов, бухгалтерские услуги для сельскохозяйственных компаний, Услуги бухгалтера для бизнеса, бухгалтерские услуги для финансовых организаций, бухгалтерские услуги для IT-компаний, бухгалтерские услуги для кооперативов, управленческий учет Узбекистан, бухгалтерские услуги для микрофинансовых организаций, бухгалтерский учет финансовой отчетности, правовые услуги, бухгалтерский учет услуги, бухгалтерия для ооо, управленческий учет, бухгалтерия для бизнеса, аутсорсинг бухгалтерии, бухгалтерские решения, бухгалтерские услуги для ресторанов, бухгалтерские услуги для образовательных учреждений, бухгалтерские решения Ташкент, бухгалтерские услуги для автосалонов, услуги бухгалтера, бухгалтерский учет услуги, услуги по восстановлению бухгалтерского учета, Профессиональные бухгалтерские услуги, бухгалтерский аутсорсинг Ташкент, бухгалтерские услуги для крупных предприятий Узбекистан, услуги кадрового учета, аутсорсинг бухгалтерии Ташкент, бухгалтерские услуги для ИП, бухгалтерские услуги для дочерних компаний, сопровождение бухгалтерского учета, бухгалтерские услуги это, бухгалтерские услуги для автосервисов, бухгалтерские услуги восстановление, бухгалтерские услуги для крупных предприятий, восстановление бухгалтерского учета Узбекистан, налоговое консультирование Узбекистан, Аутсорс бухгалтерских услуг, бухгалтерские услуги для производственных компаний, восстановление бухгалтерского учета Ташкент, бухгалтерские услуги для организаций, бухгалтерские услуги для филиалов, бухгалтерские услуги для банков, восстановление бухгалтерского учета, услуги бухгалтера Узбекистан, бухгалтерские услуги для IT-компаний Узбекистан, бухгалтерские услуги для оптовой торговли"
    />

    <meta name="generator" content={Astro.generator} />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />

    <title>{title}</title>

    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "Service",
        "name": " Аутсорс",
        "description": "Бухгалтерские услуги в Ташкенте.",
        "provider": {
          "@type": "LocalBusiness",
          "name": "WEALWISE - Бухгалтерское решение для управления финансами",
          "address": {
            "@type": "PostalAddress",
            "streetAddress": "Afrosiyob ko'chasi 21",
            "addressLocality": "Tashkent",
            "addressRegion": "Tashkent",
            "postalCode": "100029",
            "addressCountry": "UZ"
          },
          "telephone": "+998-90-097-9007",
          "email": "info@wealthwise.uz",
          "url": "https://www.wealthwise.uz"
        },
        "offers": {
          "@type": "Offer",
          "price": "3200000",
          "priceCurrency": "UZS",
          "url": "https://wealthwise.uz/#services",
          "availability": "http://schema.org/InStock",
          "priceSpecification": {
            "@type": "UnitPriceSpecification",
            "price": "3200000",
            "priceCurrency": "UZS",
            "billingDuration": "P1M",
            "unitText": "month"
          },
          "validFrom": "2024-11-01"
        },

        "offers": {
          "@type": "Offer",
          "price": "3200000",
          "priceCurrency": "UZS",
          "url": "https://wealthwise.uz/pricing",
          "availability": "http://schema.org/InStock",
          "priceSpecification": {
            "@type": "UnitPriceSpecification",
            "price": "3200000",
            "priceCurrency": "UZS",
            "billingDuration": "P1M",
            "unitText": "month"
          },
          "validFrom": "2024-11-01"
        },

        "areaServed": {
          "@type": "Place",
          "name": "Tashkent, Uzbekistan"
        }
      }
    </script>

    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=AW-16795970317"></script>
    <script lang="js">
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "AW-16795970317");
    </script>
  </head>
  <body>
    <!-- contenteditable="true" -->

    <slot />

    <script>
      import "bootstrap/dist/js/bootstrap";
    </script>

    <script>
      import AOS from "aos";
      AOS.init({ duration: 1000 });
    </script>
  </body>
</html>
<style is:global>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
  }

  html,
  body {
    overflow-x: hidden;
  }
</style>
