---
interface Props {
  label: string;
  type?: "submit" | "button" | "reset" | null | undefined;
  variant?: string;
  href?: string;
}

const { label, type = "button", variant = "primary", href } = Astro.props;

const classMap: { [key: string]: string } = {
  primary: "btn button",
  outline: "btn button-outline",
  outlineWhite: "btn button-outline-white",
  outlineGradient: "btn button-outline-gradient",
  filled: "btn button-filled",
};

const buttonClass =
  classMap[variant as keyof typeof classMap] || classMap.primary;
---

<a type={type} class={buttonClass} href={href}>
  {label}
</a>

<style>
  .button {
    padding: 0 31px;
    font-size: 17px;
    line-height: 64px;
    font-weight: 500;
    color: var(--text-dark-color);
    background: var(--secondary-color);
    border-radius: 9999px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
  }

  .button:hover {
    background: var(--primary-color);
    color: var(--text-light-color);
  }

  .button-outline {
    padding: 0 31px;
    font-size: 17px;
    line-height: 64px;
    font-weight: 500;
    color: var(--text-dark-color);
    background: transparent;
    border: 1px solid var(--primary-color);
    border-radius: 9999px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .button-outline:hover {
    background: var(--primary-color);
    color: var(--text-light-color);
  }

  .button-outline-white {
    padding: 0 31px;
    font-size: 17px;
    line-height: 64px;
    font-weight: 500;
    color: var(--text-light-color);
    background: transparent;
    border: 1px solid var(--secondary-color);
    border-radius: 9999px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .button-outline-white:hover {
    background: var(--secondary-color);
    color: var(--text-dark-color);
  }

  .button-outline-gradient {
    padding: 0 31px;
    font-size: 17px;
    line-height: 64px;
    font-weight: 500;
    color: var(--text-dark-color);
    background: transparent;
    border: 1px solid var(--primary-color);
    border-radius: 9999px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .button-outline-gradient:hover {
    /* border: 1px solid var(--gradient-color); */
    background: var(--gradient-color);
    color: var(--text-light-color);
  }

  .button-filled {
    padding: 0 31px;
    font-size: 17px;
    line-height: 64px;
    font-weight: 500;
    color: var(--text-light-color);
    background: var(--gradient-color);
    border: none;
    border-radius: 9999px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
</style>
